<h1>Burgers</h1>

<ul>
    {{#each burgers}}
        {{#unless devour}}
            {{this.id}}.
            {{this.burger_name}}
            {{> burgers/burger-block devour=1}}
        {{/unless}}
    {{/each}}
</ul>