<!-- Just an image -->
<nav class="navbar">
  <a class="navbar-brand" href="/">
    <h1>Build-a-burg</h1>
    {{!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt=""> --}}
  </a>
</nav>
<div id="wrapper">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-2">
            <img src="./assets/images/Burger.gif" id="burger-centered">
        </div>
        <div class="col-md-10 col-lg-8">
            <div class="row" id="place-order">
                <div class="col-lg-4 col-md-12">
                    <h2>Place your order</h2>
                </div>                
                <div class="col-lg-8 col-md-12">
                    <form class="form-inline" id="create-form" >
                        <div class="form-group">
                            <input type="text" id="addBurger" name="burger_name">
                        </div>
                        <button type="submit" class="submit btn btn-submit">Place order</button>
                    </form>
                </div>
            </div>
            <div class="row" id="order-up">
                <div class="col-lg-4 col-md-12">
                    <h2>Order up</h2>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="horizontal_scroll">
                        {{#each burgers}}
                            {{#unless devour}}

                        <div class="burger-containers">
                                <p>{{this.id}}.
                                {{this.burger_name}}</p>
                                {{> burgers/burger-block devour=true}}
                        </div>
                        {{/unless}}

                        {{/each}}
                        
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <h2>Previous orders</h2>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="horizontal_scroll">
                        {{#each burgers}}
                                {{#if devour}}

                            <div class="burger-containers">
                                <p>{{this.id}}.
                                {{this.burger_name}}</p>
                                {{> burgers/burger-block devour=false}}        
                            </div>
                            {{/if}}

                        {{/each}}
                    </div>
                </div>                
            </div>
        </div>           
    </div>
</div>

</div>
