$red: #db2a10;
$green: #8f8a14;
$purple: #731e48;
$yellow: #ef8829;
$focus-font: 'Rock Salt', cursive;
$secondary-font: 'Merriweather', serif;

#wrapper {
    overflow: hidden;
}

.container-fluid {
    // height: 38vw;
    h2 {
        font-family: $focus-font;
        font-size: 2.5vw;
    }
    .row {
        margin: 5vw;
        // float: right;
    }
    margin: 5vw 0vw;
    color: white;
    background-color: black;
    position: relative;
    #burger-centered {
        position: absolute;
        left: 5vw;
        top: -18vw;
        height: 70vw;
        margin: 0px;
        padding: 0px;
    }    
    .form-inline {
        padding: 5% 0%;
        .btn {
           height: 3vw;
           margin: 1vw;
        }
        input {
            width: 20vw;
            height: 3vw;
        }
    }
    div.horizontal_scroll {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        margin: 0px;
        div.burger-containers {
            margin: auto;
            white-space: normal;
            display: inline-block;
            text-align: center;
            width: 15vw;
            height: 100%;
            p {
                overflow-y: scroll;
                max-height: 50%;
            }
        }
    }
} 

.navbar {
    height: 5vw;
    background-color: $red;
}

