{{!-- <ul> --}}
    <button data-id="{{this.id}}" class="change-devour btn btn-devour" data-newdevour="{{devour}}">
        {{#if devour}}
            Pick up
            {{else}}
            Re-order
        {{/if}}
    </button>  <button data-id="{{this.id}}" class="delete btn btn-delete">Delete</button><br>

{{!-- </ul> --}}